<app-fusire-header [studentInfo]="student"></app-fusire-header>
<mat-tab-group>
    <mat-tab label="PROVINCE">
        <ng-template mat-tab-label>
            PROVINCE
            <mat-icon class="example-tab-icon">home</mat-icon>
        </ng-template>
        <app-fusire-province [provinces]="provinces"></app-fusire-province>
    </mat-tab>
    <mat-tab label="CITIES">
        <app-fusire-city [provinces]="provinces"></app-fusire-city>
    </mat-tab>
</mat-tab-group>
<app-fusire-footer [studentInfo]="student"></app-fusire-footer>